/*header*/
#wrap {width: 100%;min-height: 100vh;background-color: #F8F8F8;}
#container {width: calc(100% - 330px);transform: translate(330px, 0); padding:80px; min-height: 100vh;}


header {position: fixed;top: 0;left: 0;width: 330px;height: 100vh;background-color: #fff;padding: 0 20px; border-right: 1px solid #ccc;}
header h1 {padding: 70px 0 70px 0;}
header h1 a { margin: 0 auto;display: block;background-image: url(../img/header-logo.png);background-position: center;background-repeat: no-repeat; width: 90px;height: 120px;text-indent: -9999px;}
header nav div {margin-bottom: 24px;}
header nav{padding: 0 30px;}
header nav  a {padding: 20px 0 20px 60px; width: 100%;  border-radius: 5px; margin-bottom: 3px; background-repeat: no-repeat;background-position: 20px center; color: #4A4A4A;}
header nav  a:hover{background-color: #F6F6F6; color: #4a4a4a}
header nav  ul li{margin-bottom: 16px;}
header nav  ul li a{color: #A5A5A5; position: relative;}
header nav  ul li a span{display: inline-block; padding-top: 2px; border-radius: 8px; background-color: #EA1A33; color: #fff; font-size: 12px;
    position: absolute; right: 20px; width: 30px; height: 20px; text-align: center;}
header nav  ul li.on a {background-color: #F6F6F6; color: #4a4a4a}
header nav li:first-child a{background-image: url(../img/nav01.png);}
header nav li:first-child.on a{background-image: url(../img/nav01_on.png);}
header nav li:nth-child(2) a{background-image: url(../img/nav02.png);}
header nav li:nth-child(2).on a{background-image: url(../img/nav02_on.png);}
header nav li:nth-child(3) a{background-image: url(../img/nav03.png);}
header nav li:nth-child(3).on a{background-image: url(../img/nav03_on.png);}
header .open_menu, header .bgbk, header .close_menu{display: none;}

/*container*/
#container h5{font-size: 24px; margin-bottom: 32px;}
/*tableWrap 기본테이블*/
.tableContent {margin-top: 10px;}
.basicTable {margin-bottom: 10px;}
.basicTable div {display: table;width: 100%; box-shadow: 15px 15px 15px rgba(217, 217, 217, 0.1);}
.basicTable div ul {display: table-row; background-color: #fff; border-radius: 8px; position: relative;}
.basicTable div ul li { line-height: 30px; display: table-cell;width: calc(100% / 4);padding: 16px 12px; text-align: center;}
.basicTable div ul li.form-input{width: 20px;}
.basicTable div ul li button{padding: 5px 20px; background: #2D8ABF; color: #fff; border-radius: 20px; line-height: inherit;}
.basicTable div .inputRow{position: absolute; width: auto; left: 20px;}
#thead div{ box-shadow: none;}
#thead div ul{background-color: #f8f8f8; font-weight: bold; box-shadow: none;}
#thead div ul li{font-weight: bold; }

.utillWrap .filter{float: left;}
.utillWrap .management{float: right;}
.utillWrap:after{content: ""; display: block; clear: both;}

.filter{margin-bottom: 32px;}
.filter > div{display: inline-block; vertical-align: middle;}
#container select { width: 150px; padding: 14px 0px 14px 16px;border: none; background: url(../img/down-arrow.png) no-repeat 90% 50%;border-radius: 12px;
-webkit-appearance: none;-moz-appearance: none;appearance: none; background-color: #fff;height: 50px; border: 2px solid #5F6F78;}
#container select::-ms-expand {display: none;}
/*search*/
.search {width: 300px;position: relative;display: flex;}
.searchTerm {width: 260px; border: 2px solid #5F6F78 ; padding: 14px; height: 50px; border-radius: 12px; outline: none; color: #153281;}
.searchTerm:focus { color: #153281;}
.management > button{display: inline-block; padding: 14px 35px; border-radius: 12px;}
.management .btn01{background: #27344B; color: #fff;}
.management .btn02{background: #4e4e4e; color: #fff;}
.management .btn03{background: #2D7DC8; color: #fff;}

/*navigation*/
.navi{text-align: center;}

/*modal*/
.modal input[type="text"]{width: 100%; padding: 16px 12px;}
.modal select{width: 100%; border: 1px solid #ccc; height: 34px; border-radius: 4px; padding-left: 12px;}
.modal input:focus{outline: none; box-shadow: none;}
.modal label{display: block;}
.modal-header .close{position: absolute; top: 20px; right: 20px;}
.modal-header .close span{color: #121212;}
.modal-title{font-size: 24px;}


/****************************
반응형시작
****************************/
@media all and (max-width:1400px){
    header{padding: 0; width: 240px;}
    header nav{padding: 0 10px;}
    #container{padding: 80px 24px; width: calc(100% - 240px); transform: translate(240px, 0);}
}
@media all and (max-width:1200px){
    #container select{width: 100px};
    .searchTerm{width: 200px;}
    .management > button{padding: 14px 16px;}
}
@media all and (max-width:1000px){
    header{position: fixed; width: 100%; height: 60px; background-color: #535B9D; z-index: 100;}
    header h1{padding: 9px 0 0 0; margin: 0;}
    header h1 a{background-image: url(../img/header-m-logo.png); background-size: 30px auto; width: auto; height: auto;}
    header nav{ position: absolute; right: -9999px; top: 0; background-color: #525252; width: 50%; padding: 20px 20px 0 20px; z-index: 100; display: block;}
    header nav ul li a{color: #fff; }
    header .bgbk{
        position:fixed; top:0; left:0;
        width:100%; height:100%; background-color:#000;
        opacity:0.85;  
    }
    header .close_menu{
	position:absolute; top:10px; right: 50%; z-index: 10; }
    header .close_menu a{
	display:block; width:50px; height:50px;
	text-indent:-9999px;
	background-image:url(../img/ic_close_white_16dp.png);
	background-repeat:no-repeat;
	background-position:center;
    }
    header .open_menu{
        position: absolute; top: 5px; right: 0; display: block;
    }
    header .open_menu a{
        display: block; text-indent: -9999px;
        width: 50px; height: 50px; background-image: url(../img/ic_menu_white_18dp.png);
        background-repeat: no-repeat; background-position: center;
    }
    #container{width: 100%; transform: translate(0,0); padding: 100px 24px;}
    .basicTable div ul li{padding: 16px 4px;}
}
@media all and (max-width:767px){
    #container h5{margin-bottom: 16px;}
    .filter{margin-bottom: 12px; margin-top: 12px;}
    #container select{height: 40px; border-radius: 2px; padding: 2px 12px; width: 100%; background: url(../img/down-arrow.png) no-repeat 98% 50%;}
    .filter > div{display: block; width: 100%; margin-bottom: 4px;}
    .searchTerm{width: 100%; border-radius: 2px; padding: 2px 14px; height: 40px;}
    .utillWrap .filter{float: none; width: 100%; margin-bottom: 24px;}
    .management > button{padding: 8px 20px; border-radius: 2px;}
    .basicTable div .inputRow{left: 2px;}
}
@media all and (max-width:500px){
    #container{padding: 100px 12px;}
    .tableWrap{overflow-x: scroll;}
    .tableContent{width: 500px;}
    header nav ul li a{background-image: none !important; padding: 12px;}
}