@charset "utf-8";

* {
    margin: 0;
    padding: 0
}

ul,
li,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #222
}


/*font 선언*/
@font-face {
    font-family: 'Nanumsquare';
    src: local('NanumSquareL'),
        url(./font/NanumSquareL.eot) format('embedded-opentype'),
        url(./font/NanumSquareL.woff) format('woff'),
        url(./font/NanumSquareL.ttf) format('truetype'),
        url(./font/NanumSquareL.otf) format('opentype');
    font-weight: 200;
}

@font-face {
    font-family: 'Nanumsquare';
    src: local('NanumSquareR'),
        url(./font/NanumSquareR.eot) format('embedded-opentype'),
        url(./font/NanumSquareR.woff) format('woff'),
        url(./font/NanumSquareR.ttf) format('truetype'),
        url(./font/NanumSquareR.otf) format('opentype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Nanumsquare';
    src: local('NanumSquareB'),
        url(./font/NanumSquareB.eot) format('embedded-opentype'),
        url(./font/NanumSquareB.woff) format('woff'),
        url(./font/NanumSquareB.ttf) format('truetype'),
        url(./font/NanumSquareB.otf) format('opentype');
    font-weight: 500;
}

@font-face {
    font-family: 'Nanumsquare';
    src: local('NanumSquareEB'),
        url(./font/NanumSquareEB.eot) format('embedded-opentype'),
        url(./font/NanumSquareEB.woff) format('woff'),
        url(./font/NanumSquareEB.ttf) format('truetype'),
        url(./font/NanumSquareEB.otf) format('opentype');
    font-weight: 700;
}

.Dashboardclearfix:after {
    display: block;
    content: '';
    clear: both
}

/*header*/
.header2 {
    width: 300px;
    /* float: left; */
    height: 100%;
    background: #191E38;
    min-height: 100%;
    position: fixed
}

#header .logo {
    color: #fff;
    padding-top: 150px;
    text-align: center;
    font-size: 24px;
    position: relative;
    margin-bottom: 70px
}

#header .logo:before {
    display: block;
    content: '';
    width: 116px;
    height: 41px;
    background: url(./img/common/logo.png) no-repeat;
    background-size: cover;
    position: absolute;
    bottom: 37px;
    left: 119px
}

.gnb .menu .active a {
    background: #19264c;
    position: relative
}

.gnb .menu .active>a:after {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #3f73f8;
    position: absolute;
    right: 60px;
    top: 43%;
}

.gnb .menu .manage.active>a::after {
    display: none
}

.gnb .menu li a {
    padding: 34px 60px;
    display: block;
    color: #fff;
    font-size: 20px;
}


.gnb .menu li a svg {
    font-size: 16px
}

.fontawe {
    font-size: 16px
}

.gnb .menu li a span {
    margin-left: 30px
}

.gnb .menu>li:hover a {
    background: #19264c;
}

.gnb .manage a {
    padding: 30px 60px;
}

.gnb .manage .submenu li a {
    padding: 15px 0px 15px 110px;
    font-size: 18px;
}

.gnb .manage .submenu li:hover a {
    text-decoration: underline;
}

#header .mopen {
    display: none;
    width: 22px;
    height: 18px;
    background: url(./img/common/mobile-menu.png) no-repeat;
    background-size: cover
}

#header .mclose {
    display: none;
    width: 22px;
    height: 22px;
    background: url(./img/common/mobile-menu-close.png) no-repeat;
    background-size: cover
}

.bgshadow {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, .7);
    cursor: pointer
}

.bgshadowon {
    /* display: none; */
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, .7);
    cursor: pointer
}


.mobileMenu {
    display: none
}


#subNav {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #D6D6D6;
    height: 70px;
    padding: 25px 70px;
    box-sizing: border-box;
}

#subNav .place {
    color: #5c5c5c;
    font-size: 17px;
    float: left;
}

#subNav .place svg {
    margin-right: 15px
}

#subNav .place span svg {
    margin: 0 15px
}

#subNav .user {
    float: right
}

#subNav .user li {
    float: left;
    margin-left: 60px;
    color: #515151;
    font-size: 14px;
}

#subNav .user li:first-child {
    margin-left: 0;
    color: #000;
    font-weight: 500;
}

#subNav .user li svg {
    color: #838383
}

#container .content {
    padding: 35px 50px;
    background: #F4FAFF;
    box-sizing: border-box;
}

@media all and (max-width: 1580px) {
    #container .content {
        padding: 15px 25px
    }
}

@media all and (max-width: 1200px) {
    .header2 {
        width: 100%;
        float: none;
        height: 81px;
        position: relative;
        min-height: unset;
    }

    #header {
        padding: 30px 0;
        background: #191E38;
        position: fixed;
        z-index: 11;
        width: 100%;
        margin-top: -30px;
    }

    #header .gnb {
        display: none
    }

    #header .mopen {
        display: block;
        float: right;
        margin-right: 20px
    }

    #header .mclose {
        display: block;
        float: right;
        margin-right: 20px;
    }

    .mobileMenu {
        display: block;
        position: fixed;
        width: 80%;
        right: -100%;
        z-index: 10;
        height: 100%;
        transition: all .5s ease-in-out;
        background: #191E38;
        padding-top: 87px;
        top: 0;
    }

    .mobileMenu.on {
        right: 0;
        transition: all .5s ease-in-out;
        top: 0px
    }

    .mobileMenu .menu li a {
        background: #191e38;
        padding: 30px
    }

    #header:after {
        display: block;
        content: '';
        clear: both;
    }

    #header .logo {
        padding-top: 0;
        margin-bottom: 0;
        float: left;
        padding-left: 160px;
    }

    #header .logo:before {
        bottom: -5px;
        left: 30px
    }

    #container {
        width: 100%;
        float: none;
        position: unset;
        height: calc(100vh -81px)
    }

    #container .content {
        padding: 25px;
    }

    #container #subNav {
        display: none;
    }

    /*모바일 #subNav*/
    #subNav {
        background: #15182a;
        height: 50px;
        padding: 15px 30px;
        border-bottom: 0;
        margin-top: 20px;
    }

    #subNav .user li:first-child {
        color: #fff;
        font-size: 17px
    }

    #subNav .user li a {
        color: #fff;
        font-size: 17px
    }
}

@media all and (max-width : 768px) {
    #container .content {
        box-sizing: content-box;
        height: auto
    }
}

@media all and (max-width : 640px) {
    #header .logo {
        font-size: 18px;
        padding-left: 125px
    }

    #header .logo:before {
        bottom: -3px;
        width: 85px;
        height: 30px;
        background-size: cover
    }

    .mobileMenu {
        padding-top: 82px
    }

    .mobileMenu .menu li a {
        padding: 20px 30px;
        font-size: 18px
    }

    .mobileMenu .manage .submenu li a {
        font-size: 16px
    }

}

@media all and (max-width : 480px) {
    #header .logo:before {
        bottom: 5px
    }
}