@charset "utf-8";
#datepicker .datepicker-inline .datepicker{
    width:100%; border:none;
}
#datepicker .datepicker--nav{
    display:block; position:relative
}
#datepicker .datepicker--nav-title{
    text-align:left; display:inline-block; font-size:25px; font-family: 'Nanumsquare'; position:relative
}
#datepicker .datepicker--nav-title:hover{
    background:transparent;
}
#datepicker .datepicker--nav > div:first-child{
    position:absolute; right:42px; top:0;
}
#datepicker .datepicker--nav > div:last-child{
    position:absolute; right:0px; top:0;
}
#datepicker .datepicker--nav-action{
    border-radius: 10px; background:#f2f4fa
}
#datepicker .datepicker--nav-action:hover{background:#f2f4fa}
#datepicker .datepicker--nav-action path{stroke:#071c88}
#datepicker .datepicker--cell{
    font-family: 'Nanumsquare'; font-size:20px; font-weight:500; height:40px; margin-bottom:6px
}
#datepicker .datepicker--days .datepicker--cell.-selected-, #datepicker .datepicker--cell.-selected-.-current-{
    background:none; position:relative;
}
#datepicker .datepicker--days .datepicker--cell.-selected-::after, #datepicker .datepicker--days .datepicker--cell.-selected-.-current-::after{
    display:block; content:''; width:38px; height:38px; background:#0c85fa; border-radius: 50%;
    position:absolute; top:2px; left:50%; transform: translateX(-50%); z-index:-1;
}
#datepicker .datepicker--days .datepicker--cell.-focus-{
    background:none; position:relative; color:#fff;
}
#datepicker .datepicker--days .datepicker--cell.-focus-::after{
    display:block; content:''; width:38px; height:38px; background:#0c85fa;  border-radius: 50%;
    position:absolute; top:2px; left:50%; transform: translateX(-50%); z-index: -1;
}
#datepicker .datepicker--days .datepicker--cell.-weekend-{
    color:#ff2121
}
#datepicker .datepicker--days .datepicker--cell:nth-child(7n){
    color:#3141cc;
}
#datepicker .datepicker--cell.-weekend-:hover{
    color:#fff
}
#datepicker .datepicker--days-names{
    margin:15px 0;
}
#datepicker .datepicker--day-name{
    font-size:20px; font-weight:600; color:#000; font-family: 'Nanumsquare';
}
#datepicker .datepicker--day-name.-weekend-{color:#ff2121}
#datepicker .datepicker--day-name.-weekend-:last-child{color:#3141cc}
#datepicker .datepicker--cell.-selected-{color:#fff !important}

@media all and (max-width:380px){
    #datepicker .datepicker--days .datepicker--cell.-selected-::after, #datepicker .datepicker--cell.-selected-.-current-::after, #datepicker .datepicker--cell.-focus-::after{width:30px; height:30px}
}